In [12]:
num=int(input("enter the number")) #PRIME Q1
for i in range(2,num):
    for j in range(2,num):
        if i%j==0:
            break 
if i==j:
    print(i,end=",)

enter the number100

In [25]:
a=int(input("enter 1st subject marks")) #GRADING Q2
b=int(input("enter 2nd subject marks"))
c=int(input("enter 3rd subject marks"))
avg=(a+b+c)/3
if avg>=90 and avg<=100:
    print("A GRADE")
elif avg>=60 and avg<=89:
    print("B GRADE")
elif avg>=40 and avg<=60:
    print("C GRADE")
else:
    print("F GRADE")

enter 1st subject marks55
enter 2nd subject marks66
enter 3rd subject marks33
C GRADE

In [ ]:
a = int(input("ENTER NUMBER A=")) #LARGEST AMONG 3
b = int(input("ENTER NUMBER B="))
c = int(input("ENTER NUMBER C="))

if a > b:
    if a > c:
        print("A is largest")
    else:
        print("C is largest")
elif b > c:
    print("B is largest")
else:
    print("C is largest")

In [5]:
I=[1,2,3,4,5]
I

[1, 2, 3, 4, 5]

In [4]:
N=["A","D","I","T","Y","A"]
P=N[0:6:2]
P

['A', 'I', 'Y']

In [6]:
l=[1,2,3]
l.append(4)

In [7]:
l2=[2,3,1]
l2

[2, 3, 1]

In [13]:
#TUPLE
A=(1,2,3)
a=list(A)
a

[1, 2, 3]

In [15]:
N1=(2,3,4,5)
N1[0]=6  #error because tuple me index element change nhi ho skte(non mutalble)
N1

[6, 3, 4, 5]

In [18]:
t1=(1,2,3)
t2=(4,5)
t1+=t2
t1

(1, 2, 3, 4, 5)

In [24]:
l=[["Machine",1],["Learning",2]]
print(l[1][0][0])

L

In [ ]:
#DICTIONARY
a={1:"Name",2}